@model CategoryList.Result

<h3>Categories</h3>

<div class="my-4">
    <a href="#">
        <i class="fas fa-plus-circle me-1"></i>New Category
    </a>
</div>

<div miru-if-empty="@Model.Items" class="alert alert-warning">There are no Categories to show</div>

<miru-table for="Items" class="table table-striped">
<thead>
<tr>
    <miru-th for="Items[0].Name" />
    <th></th>
</tr>
</thead>
<tbody>

@{ var i = 0; }
@foreach (var item in Model.Items)
{
    <tr>
        <td>
            <a href="#">
                <miru-display for="Items[i].Name"/>
            </a>
        </td>
        <td>
            <a href="#">Edit</a>
        </td>
    </tr>
    
    i++;
}

</tbody>
</miru-table>