@model CategoryNew.Command

<h3>New Category</h3>

<miru-form>

    <miru-summary />

    <div class="form-group row my-3">
        <miru-label for="Name" />
        <miru-input for="Name" />
    </div>

    <div class="form-group row my-3">
        <miru-submit value="Save" />
    </div>

</miru-form>