@model ResultEdit.Command

<div class="m-2 card">
    <div class="card-body">

        <miru-form>

            <miru-summary />
            
            <div class="row py-4">
                <div class="row">
                    
                    <div class="offset-md-4 col-md-6">
                        <miru-submit value="Submit" class="btn btn-success" />
                    </div>

                </div>
            </div>

        </miru-form>

    </div>
</div>