@model ResultList.Result

<div class="m-2 card">
    <div class="card-body">

        <div class="row py-4">
            <div class="row">
                
                <div class="col-md-8">
                    <h3>Results</h3>
                </div>
        
                <div class="col-md-8">
        
                    <div class="row mb-4 mt-3">
                        <div class="col-auto">
                            <a for="@(new ResultEdit())">Redirect To Feature</a>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
            
    </div>
</div>