@model AccountActivate.Result

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-success">
                    Your account has been activated!
                </div>
                
                <a for="@(new AccountLogin.Query())">Would you like to Login now?</a>
            </div>
        </div>
    </div>
</div>