@model ProjectEnd.Result

<template data-page-update-target>
    <div class="alert alert-success">
        Project successfully ended
    </div>
    <a for="@(new ProjectShow.Query { Id = Model.Id })">← Back to Project</a>
</template>
