@model ProjectEnd.Result

<turbo-stream action="replace" target="@Naming.Form(Model)">
    <template>
        <div class="alert alert-success">
            Project successfully ended
        </div>
        <a for="@(new ProjectShow.Query {Id = Model.Id})">← Back to Project</a>
    </template>
</turbo-stream>