@model ProjectEdit.Command

<miru-summary/>

<div class="row mb-3">
    <miru-label for="Name" class="col-sm-2 col-form-label"/>
    <div class="col-sm-10">
        <miru-input for="Name"/>
    </div>
</div>

<div class="row mb-3">
    <miru-label for="CategoryId" class="col-sm-2 col-form-label"/>
    <div class="col-sm-10">
        <miru-select for="CategoryId" lookup="Categories" empty-option/>
    </div>
</div>

<div class="row mb-3">
    <miru-label for="Description" class="col-sm-2 col-form-label"/>
    <div class="col-sm-10">
        <miru-input for="Description" cols="80" rows="10"/>
    </div>
</div>

<div class="row mb-3">
    <miru-label for="MinimumDonation" class="col-sm-2 col-form-label"/>
    <div class="col-sm-10">
        <miru-input for="MinimumDonation"/>
    </div>
</div>

<div class="row mb-3">
    <miru-label for="Goal" class="col-sm-2 col-form-label"/>
    <div class="col-sm-10">
        <miru-input for="Goal"/>
    </div>
</div>

<div class="row mb-3">
    <miru-label for="EndDate" class="col-sm-2 col-form-label"/>
    <div class="col-sm-10">
        <miru-input for="EndDate"/>
    </div>
</div>

<div class="row mb-3">
    <miru-label for="CoverImage" class="col-sm-2 col-form-label"/>
    <div class="col-sm-10">
        <miru-input for="CoverImage"/>
    </div>
</div>

<div class="row mb-3">
    <div class="offset-md-2">
        <miru-submit value="Save"/>
    </div>
</div>