@model ProjectEdit.Result

<turbo-stream action="replace" target="project-edit-form">
    <template>
        <div class="alert alert-success">
            <p>
                Your project '@Model.Project.Name' has been saved
            </p>
            <p>
                <a for="@(new ProjectShow.Query { Id = Model.Project.Id })">Check it here</a>
            </p>
        </div>
    </template>
</turbo-stream>
