@model ErrorNew.Command

<div class="col-6 offset-3 my-4">
    
    <h3>New Error</h3>

    <miru-form>

        <miru-summary />
        
        <div class="my-4">
            <miru-submit value="Submit" class="btn btn-success" />
        </div>

    </miru-form>
    
</div>