@using Supportreon.Features.Accounts.Passwords
@model AccountLogin.Command

<div class="row m-5 justify-content-center">
    <div class="col-md-5">

        <h4>Log in</h4>

        <miru-form>

            <miru-summary/>

            <div class="mb-3">
                <miru-label for="Email"/>
                <miru-input for="Email"/>
            </div>

            <div class="mb-3">
                <miru-label for="Password"/>
                <miru-input for="Password"/>
            </div>

            <div class="mb-3 form-check">
                <miru-input for="RememberMe"/>
                <miru-label for="RememberMe"/>
            </div>

            <miru-submit value="Log in"/>

            <div class="mt-4">
                <a for="@(new PasswordForgot())">Forgot Your Password?</a>
            </div>
            
        </miru-form>

    </div>

    <div class="col-md-4">
        <div class="mb-5">
            <h4>Not registered?</h4>
            <hr/>
            <div>
                <a for="@(new AccountRegister())">Create an account</a>
            </div>
        </div>

    </div>
</div>