@model AccountRegister.Command

<div class="row justify-content-center">
    <div class="col-md-6">

        <miru-form>

            <h4>Create a new account</h4>

            <miru-summary/>

            <div class="mb-3">
                <miru-label for="Name"/>
                <miru-input for="Name"/>
            </div>

            <div class="mb-3">
                <miru-label for="Email"/>
                <miru-input for="Email"/>
            </div>

            <div class="mb-3">
                <miru-label for="Password"/>
                <miru-input for="Password"/>
            </div>

            <div class="mb-3">
                <miru-label for="PasswordConfirmation"/>
                <miru-input for="PasswordConfirmation"/>
            </div>

            <miru-submit value="Register"/>

        </miru-form>

    </div>
</div>