@model Mong.Features.Topups.TopupList.Query

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <h3 class="mb-4">Your Topups</h3>

                <no-data-tag for="@Model.Results" class="alert alert-warning">You haven't done any Topup yet</no-data-tag>

                <miru-table for="@Model.Results" class="table table-striped ">
                    <thead>
                    <tr>
                        <miru-th for="Results[0].Provider.Name"/>
                        <miru-th for="Results[0].PhoneNumber"/>
                        <miru-th for="Results[0].Amount"/>
                        <miru-th for="Results[0].CreatedAt"/>
                        <miru-th for="Results[0].Status"/>
                    </tr>
                    </thead>
                    <tbody>

                    @{ var i = 0; }
                    @foreach (var item in Model.Results)
                    {
                        <tr>
                            <miru-td for="Results[i].Provider.Name" />
                            <miru-td for="Results[i].PhoneNumber" />
                            <miru-td for="Results[i].Amount" />
                            <miru-td for="Results[i].CreatedAt" />
                            <miru-td for="Results[i].Status" />
                        </tr>
                        i++;
                    }

                    </tbody>
                </miru-table>

            </div>
        </div>
    </div>
</div>