@using Miru.Html.Tags
@model TopupNew.Command

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">

            <div class="card-body">

                <h3>New Topup</h3>

                <miru-form>

                    <miru-summary />

                    <div class="row">
                        <h5 class="card-title col-md-4 text-md-right mb-3 text-muted">Your Information</h5>
                    </div>

                    <div class="form-group row">
                        <ml for="Name" />

                        <div class="col-md-6">
                            <miru-input for="Name" disabled/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <ml for="Email" />

                        <div class="col-md-6">
                            <miru-input for="Email" disabled/>
                        </div>
                    </div>

                    <div class="row">
                        <h5 class="card-title col-md-4 text-md-right mb-3 text-muted">Topup Information</h5>
                    </div>

                    <div class="form-group row">
                        <ml for="Providers" />

                        <div class="col-md-6">
                            <miru-select for="ProviderId" 
                                         lookup="Providers" 
                                         empty-option
                                         data-remote="true"
                                         data-url="@(Url.Build<TopupNew.AmountByProvider>())"
                                         data-type="html"
                                         data-method="get"
                                         data-cascade="@Html.IdFor(m => m.Amount)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <ml for="PhoneNumber" />

                        <div class="col-md-6">
                            <miru-input for="PhoneNumber" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <ml for="Amount" />

                        <div class="col-md-6">
                            <miru-select for="Amount" empty-option="Select Provider" />
                        </div>
                    </div>

                    <div class="row">
                        <h5 class="card-title col-md-4 text-md-right mb-3 text-muted">Payment</h5>
                    </div>

                    <div class="form-group row">
                        <ml for="CreditCard" />

                        <div class="col-md-6">
                            <miru-input for="CreditCard"/>
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-8 offset-md-4">
                            <miru-submit value="Top Up!"/>
                        </div>
                    </div>

                </miru-form>
                
            </div>
        </div>
    </div>
</div>