@using Playground.Features.Accounts.Passwords
@model Playground.Features.Accounts.AccountLogin.Command


<div class="card m-5">
    <div class="card-body">

        <div class="row justify-content-center">
            <div class="col-md-6 m-4">

                <flash dismissable="false" class="m-5" />
                
                <h3>Login</h3>

                <miru-form>

                    <miru-summary/>

                    <miru-input for="ReturnUrl" type="hidden" />
                    
                    <div class="mb-3">
                        <miru-label for="Email"/>
                        <miru-input for="Email"/>
                    </div>

                    <div class="mb-3">
                        <miru-label for="Password"/>
                        <miru-input for="Password"/>
                    </div>

                    <div class="mb-3 form-check">
                        <miru-input for="RememberMe" />
                        <miru-label for="RememberMe" />
                    </div>

                    <miru-submit value="Log in"/>

                    <div class="my-4">
                        <a for="@(new PasswordForgot())">Forgot Password?</a>
                    </div>
                    
                </miru-form>

            </div>

        </div>

    </div>
</div>