@model PasswordEdit.Command

<div class="row justify-content-center">
    <div class="col-md-6 m-4">

        <h4>Edit Password</h4>
            
        <miru-form>

            <miru-summary/>

            <div class="mb-3">
                <miru-label for="CurrentPassword"/>
                <miru-input for="CurrentPassword"/>
                <miru-validation for="CurrentPassword"/>
            </div>

            <div class="mb-3">
                <miru-label for="NewPassword"/>
                <miru-input for="NewPassword"/>
                <miru-validation for="NewPassword"/>
            </div>

            <div class="mb-3">
                <miru-label for="NewPasswordConfirmation"/>
                <miru-input for="NewPasswordConfirmation"/>
                <miru-validation for="NewPasswordConfirmation"/>
            </div>

            <miru-submit/>

        </miru-form>
        
    </div>
</div>
