<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <miru-antiforgery name="csrf-token"/>

    <title>@App.Name</title>

    <script mix-src="/js/app.js" defer></script>
    <link mix-href="/css/app.css" rel="stylesheet"/>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

</head>
<body>

<div id="app">

    <partial name="/Features/Shared/_Nav.cshtml"/>

    <main class="container">

        <div class="my-4">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-5">
                            
                            <flash />
            
                            @RenderBody()
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    Supportreon
                    <small class="d-block mb-3 text-muted">2021</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="link-secondary" href="#">Cool stuff</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Random feature</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Team feature</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Stuff for developers</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Another one</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Last time</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="link-secondary" href="#">Resource</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Resource name</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Another resource</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Final resource</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="link-secondary" href="#">Team</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Locations</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Privacy</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="#">Terms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>

</div>

</body>
</html>