@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta name="handheldfriendly" content="true" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="icon" href="/images/icon.png" sizes="32x32" />
    
    <link href="/css/app.css" rel="stylesheet" as="style" asp-append-version="true" />
    <script src="/js/app.js" defer async="async" asp-append-version="true"></script>
    
</head>

<body class="d-flex flex-column min-vh-100 bg-white">

 <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
       <div class="container-fluid">
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
 
         <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
           <a class="navbar-brand col-lg-3 me-0" href="#">Centered nav</a>
           <ul class="navbar-nav col-lg-6 justify-content-lg-center">
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="#">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Link</a>
             </li>
             <li class="nav-item">
               <a class="nav-link disabled" aria-disabled="true">Disabled</a>
             </li>
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
               <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="#">Action</a></li>
                 <li><a class="dropdown-item" href="#">Another action</a></li>
                 <li><a class="dropdown-item" href="#">Something else here</a></li>
               </ul>
             </li>
           </ul>
           <div class="d-lg-flex col-lg-3 justify-content-lg-end">
             <button class="btn btn-primary">Button</button>
           </div>
         </div>
       </div>
     </nav>

@Body

</body>
</html>
