@model PasswordForgot.Result

<template data-page-update-target>
    
    <div class="alert alert-success">
        An email for you has been sent with the link to reset your password
    </div>
    
</template>