@using SelfImprov.Features.Goals
@model Iteration

<template data-page-update-target>
    
    <div class="alert alert-success">
        Iteration successfully saved. <a for="@new IterationShow.Query { Id = Model.Id }">See it here</a>
    </div>
    
    <div>
        <a for="@new GoalList()">Set new Goals</a>
    </div>
    
    <div>
        <a for="@new IterationList()">See all Iterations</a>
    </div>
    
</template>
