@using SelfImprov.Features.Goals
@model IterationReview.Command

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Review</h3>

                <miru-form>

                    <miru-summary/>

                    @for (var a = 0; a < Model.Areas.Count; a++)
                    {
                        <div id="area-@Model.Areas[a].Id" class="mb-3">
                            <h5>@Model.Areas[a].Name</h5>

                            <ul>
                                @for (var g = 0; g < Model.Areas[a].Goals.Count; g++)
                                {
                                    <li id="goal-@Model.Areas[a].Goals[g].Id">

                                        <mi for="Areas[a].Goals[g].Id" type="hidden"/>
                                        <mi for="Areas[a].Goals[g].Achieved"/>

                                        @Model.Areas[a].Goals[g].Name

                                        @* @Html.Input(m => m.Areas[a].Goals[g].Achieved).Data("checked-style", $"#goal-{@Model.Areas[a].Goals[g].Id}") @Model.Areas[a].Goals[g].Name *@

                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    <div>
                        <miru-submit value="Save"/>

                        or

                        <a for="new GoalList()">← Back to Goals</a>
                    </div>

                </miru-form>
            </div>
        </div>
    </div>
</div>