<div class="container">
    <div class="mt-5 mb-5 text-center">
        <h2>Additional element : Steps Using Bootstrap 4</h2>
    </div>
    <ul class="step d-flex flex-nowrap">
        <li class="step-item">
            <a href="#!" class="">Step 1</a>
        </li>
        <li class="step-item">
            <a href="#!" class="">Step 2</a>
        </li>
        <li class="step-item active">
            <a href="#!" class="">Step 3</a>
        </li>
        <li class="step-item">
            <a href="#!" class="">Step 4</a>
        </li>
    </ul> 
    <div class="text-muted mt-5 text-center small">by : <a class="text-muted" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>
</div>