@model TransferNew.Command

<div class="row justify-content-center">
    <div class="col-md-8">

        <h3>New Transfer</h3>
        
        <miru-form class="my-4">

            <miru-summary />

            <div class="my-4">
                <miru-label for="AmountSource"/>
                <miru-input for="AmountSource"/>
                <miru-validation for="AmountSource"/>
            </div>

            <div class="my-4">
                <miru-label for="CurrencySource"/>
                <miru-select for="CurrencySource" lookup="Currencies" />
                <miru-validation for="CurrencySource"/>
            </div>
            
            <div class="my-4">
                <miru-label for="CurrencyRecipient"/>
                <miru-select for="CurrencyRecipient" lookup="Currencies" />
                <miru-validation for="CurrencyRecipient"/>
            </div>

            <div class="my-4">
                <miru-submit value="Continue" class="me-3"/>
            </div>
            
        </miru-form>
    
    </div>
</div>