@model TransferRecipient.Command

<div class="row justify-content-center">
    <div class="col-md-8">

        <div class="well">
            Transfering @Model.Amount.CurrencySource @Model.Amount.AmountSource 
            converting to @Model.Amount.CurrencyRecipient
        </div>
        
        <h3>Recipient</h3>
        
        <miru-form class="my-4">

            <miru-summary />
            
            <div class="my-4">
                <miru-submit value="Continue" class="me-3"/>
            </div>
            
        </miru-form>
    
    </div>
</div>