@model Supportreon.Domain.Donation

<h3>Thank you!</h3>

<p>Hello, @Model.User.Name!</p>

<p>
    Thank you very much for your donation of <strong><miru-display for="Amount"/></strong> to 
    <strong><miru-display for="Project.Name"/></strong> project.
</p>

<p>
    Best regards,
</p>

<p>
    Supportreon Team
</p>