@model Area

<partial name="_AreaShow" model="Model" />

<ul id="goal-list_@Model.Id" class="list-group list-group-flush">
    @foreach (var goal in Model.Goals)
    {
        <partial name="_Goal" model="goal"/>
    }
</ul>

<div id="goal-new-area_@Model.Id">
</div>

<a for="@new GoalNew.Query {AreaId = Model.Id}"
   id="goal-new-area-link_@Model.Id"
   data-remote="true"
   data-disable-with="Loading...">
    Add a Goal
</a>