@model Area

<div id="area-show_@Model.Id">
    
    <div class="row hover-highlight">
        <div class="col-6">
            <h5>@Model.Name</h5>
        </div>
        
        <div class="col-6 text-right">
            <a for="new AreaEdit.Query { Id = Model.Id }" 
                               class="ml-5"
                               data-remote="true"
                               data-disable-with="Loading...">Edit</a>
                        
            <strong>·</strong>
        
            <a for="new AreaRemove.Command { Id = Model.Id }" 
               class="text-danger"
               data-remote="true"
               data-method="post"
               data-disable-with="Removing...">Remove</a>
        </div>
    </div>
    
</div>