<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <miru-antiforgery name="csrf-token"/>

    <environment exclude="Production">
        <meta name="robots" content="noindex, nofollow" />
    </environment>
    
    <title>MiruNext</title>

    <link rel="stylesheet" href="https://unpkg.com/open-sans-all/css/open-sans.min.css">
    <link href="/css/app.css" rel="stylesheet" as="style" asp-append-version="true" />
    <script src="/js/app.js" defer async="async" asp-append-version="true"></script>
    
</head>
<body>

<div id="app">
   
    <main class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="my-3 col-lg-6 col-md-8 col-sm-12">

                    @RenderBody()

                </div>
            </div>    
        </div>
    </main>
                        
</div>

@* <environment include="Development"> *@
@*     <mini-profiler /> *@
@* </environment> *@

</body>
</html>

