@model TicketEdit.Result

<turbo-stream action="replace" target="@Naming.Form(Model)">
    <template>
        <div class="alert alert-success">
            <p>
                Skeleton successfully saved
            </p>
        </div>
    </template>
</turbo-stream>