@model PasswordForgot.Command


<div class="row justify-content-center">
    <div class="col-md-6">

        <miru-form>

            <h4>Reset Password</h4>

            <miru-summary/>

            <div class="mb-3">
                <miru-label for="Email"/>
                <miru-input for="Email"/>
            </div>

            <miru-submit />

        </miru-form>

    </div>
</div>