@model TeamEdit.Result

<turbo-stream action="replace" target="@Naming.Form(Model)">
    <template>
        <div class="alert alert-success">
            <p>
                Team successfully saved
            </p>
            <p>
                <a for="@(new TeamShow.Query { Id = Model.Team.Id })">Show Team</a>
            </p>
            <p>
                <a for="@(new TeamList())">List all Teams</a>
            </p>
        </div>
    </template>
</turbo-stream>