@model TeamList.Result

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <h3>Teams</h3>
                
                <div class="mb-4">
                    <a for="@(new TeamNew())">New Team</a>
                </div>
                
                <div miru-if-empty="@Model.Items" class="alert alert-warning">There are no Teams to show</div>
                
                <miru-table for="Items" class="table table-striped">
                    <thead>
                    <tr>
                        <miru-th for="Items[0].Name" />
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    @{ var i = 0; }
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                <a for="@(new TeamShow.Query { Id = item.Id })">
                                    <md for="Items[i].Name"/>
                                </a>
                            </td>
                            <td>
                                <a for="@(new TeamEdit.Query { Id = item.Id })">Edit</a>
                            </td>
                        </tr>
                        
                        i++;
                    }

                    </tbody>
                </miru-table>
                
            </div>
        </div>
    </div>
</div>