@model TeamList.Result

<h3>Teams</h3>

<div class="my-4">
    <a for="@(new TeamNew())">
        <i class="fas fa-plus-circle me-1"></i>New Team
    </a>
</div>

<div miru-if-empty="@Model.Teams" class="alert alert-warning">
    There are no Teams to show
</div>

<miru-table for="Teams">
    <thead>
        <tr>
            <miru-th for="Teams[0].Name" />
            <th></th>
        </tr>
    </thead>
    <tbody>

    @{ var i = 0; }
    @foreach (var item in Model.Teams)
    {
        <tr>
            <td>
                <a for="@(new TeamEdit.Query { Id = item.Id })">
                    <miru-display for="Teams[i].Name"/>
                </a>
            </td>
            <td>
                <a for="@(new TeamEdit.Query { Id = item.Id })">Edit</a>
            </td>
        </tr>
        
        i++;
    }

    </tbody>
</miru-table>