@model AccountRegister.Command

<div class="row m-5 justify-content-center">
    <div class="col-12">

        <div class="row">
            <div class="col-md-5">

                <h4>Create a new account</h4>

                <miru-form>

                    <miru-summary/>
                    <div class="mb-3">
                        <miru-label for="Email"/>
                        <miru-input for="Email"/>
                    </div>
                    <div class="mb-3">
                        <miru-label for="Password"/>
                        <miru-input for="Password"/>
                    </div>
                    <div class="mb-3">
                        <miru-label for="PasswordConfirmation"/>
                        <miru-input for="PasswordConfirmation"/>
                    </div>
                    <miru-submit value="Register"/>
                </miru-form>
            </div>
        </div>
        
    </div>
</div>