@model FormModel.Command

<turbo-stream action="replace" target="result">
    <template>
        <div class="col-md-8 alert alert-warning" id="result">
            <pre>Response at: @DateTime.Now</pre>
            <pre>@Model.Inspect()</pre>
        </div>
    </template>
</turbo-stream>