@model FormModel.Command

<h4 class="my-3">Form Using Model Attribute</h4>

<miru-form method="post" for="@Model">

    <miru-summary class="my-3"/>

    <div class="my-4">
        <miru-label for="Name" />
        <miru-input for="Name" />
    </div>

    <div class="my-4">
        <label>
            <miru-input for="IsLocal" value="true" class="me-1 form-check-input"  />
            <span>Ja</span>
        </label>
        
        <label class="ms-3">
            <miru-input for="IsLocal" value="false" class="me-1 form-check-input"  />
            <span>Nein</span>
        </label>
    </div>
    
    <miru-submit value="Submit"/>

</miru-form>

<hr/>

<div class="my-3" id="result">
</div>