@model UserEdit.Result

<turbo-stream action="replace" target="@Naming.Form(Model)">
     <template>
            <div class="alert alert-success">
                Your details have been changed
            </div>
        </template>
</turbo-stream>
