@model UserEdit.Command

<div class="row justify-content-center">
    <div class="col-md-8">

        <h3>Edit User</h3>

        <miru-form action="@(Url.For(new UserEdit.Command()))">

            <miru-input for="Id" type="hidden"/>

            <partial name="_Form" model="Model"/>

        </miru-form>

    </div>
</div>