@model TableList.Result

<div class="card mb-4">
    <div class="card-body">

        <h3>Tables</h3>

        <div class="row my-3 mx-1">
            <div class="col-md-12">
                <div>
                    <i class="fas fa-plus"></i> 
                    @* <a for="@(new UserNew())">New User</a> *@
                </div>
            </div>
        </div>

        <div miru-if-empty="@Model.Products" class="alert alert-warning">
            There are no Products
        </div>

        <miru-table for="Products" add-class="table-striped table-hover">
            <thead>
            <tr>
                <miru-th for="Products[0].ProductName" />
                <miru-th for="Products[0].ProductIsActive" />
                <miru-th for="Products[0].ProductPrice" />
                <miru-th for="Products[0].ProductLastSale" />
            </tr>
            </thead>
            <tbody>

            @{ var i = 0; }
            @foreach (var item in Model.Products)
            {
                <tr>
                    <miru-td for="Products[i].ProductName" />
                    <miru-td for="Products[i].ProductIsActive" />
                    <miru-td for="Products[i].ProductPrice" />
                    <miru-td for="Products[i].ProductLastSale" />
                </tr>

                i++;
            }

            </tbody>
        </miru-table>

    </div>
</div>