@model ProductNew.Result

<template data-page-update-target>
    <div class="alert alert-success">
        Product successfully saved
    </div>
    <a for="@(new ProductList())">← Products</a>
</template>