@model ProductShow.Result

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <h3>Product</h3>
                
                <a for="@(new ProductList())">← Products</a> | 
                <a for="@(new ProductEdit.Query { Id = Model.Product.Id })">Edit</a>
                
                <dl class="dl-horizontal mt-4" miru-id="@Model">
                    <dt>
                        <mdl for="Product.Name" />
                    </dt>
                    <dd>
                        <md for="Product.Name"/>
                    </dd>
                </dl>

            </div>
        </div>
    </div>
</div>