@model Mong.Domain.User

<tr miru-id="@Model"> 
    <miru-td for="Name" />
    <miru-td for="Email" />
    <miru-td for="CreatedAt" />
    <td class="text-left" style="width: 15%">
        <div>
            <a for="@(new UserBlockUnblock.Command { UserId = Model.Id })" 
               data-remote="true"
               data-method="post"
               data-disable-with="Saving...">
                @(Model.IsBlocked() ? "Unblock" : "Block")
            </a>
        </div>
    </td>
</tr>