@model Mong.Features.Admin.Users.UserList.Query

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                
                <h4>Users</h4>
                
                <miru-table for="Results" class="table table-striped">
                    <thead>
                        <tr>
                            <miru-th for="Results[0].Name"/>
                            <miru-th for="Results[0].Email"/>
                            <miru-th for="Results[0].CreatedAt"/>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                         @foreach (var user in Model.Results)
                         {
                             <partial name="_User" model="user" />
                         }
                        
                    </tbody>
                </miru-table>
            </div>
        </div>
    </div>
</div>